<div class="container message" style="color: gray;">
  <h3>Results</h3>
  <h4>You searched for this events</h4>
  <br/>
</div>
<% @index = 0 %>
<% @results.each do |result| %>
  <% @xx = ''%>
      <% result.performances.each do |cc|%>
      <% @xx = cc.display_name.to_s.downcase.include?(@input.to_s.downcase) %>
      <% end %>
      <% if result.display_name.downcase.include?(@input.to_s.downcase) || result.id.to_s.include?(@input.to_s) || result.location.city.downcase.to_s.include?(@input.to_s.downcase) || result.venue.display_name.to_s.downcase.include?(@input.to_s.downcase) || @xx %>
      <% @index = 1 %>
      <a class="list-group-item clearfix" style="border-style: none; margin-bottom: 2%; width: 50%; left: 25%; border-radius: 6px; background-color: rgba(255,255,255,0.65);" href= <%= concert_path(result.id) %>>
          <div>
              <strong style="color: black"><%= result.display_name %></strong>
              <br>
              <br>
              <span style="background-color: darksalmon;" class="badge badge-light"><%= result.type %></span>
              <span class="pull-right" style="margin-top: -3%;">
                  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </span>
          </div>
      </a>
      <%end%>
<% end %>
<%if @index == 0 %>
<div class="container message" style="color: gray;">
  <h4>No results found.</h4>
</div>
<br/>
<%end%>

<% @index = 0 %>

<div class="container message" style="color: gray;">
  <h4>You searched for this artists</h4>
  <br/>
</div>
<% @artists.each do |artist| %>
    <% if artist['name'].to_s.downcase.include?(@input.to_s.downcase) %>
    <% @index = 1 %>
    <a class="list-group-item clearfix" style="border-style: none; margin-bottom: 2%; width: 50%; left: 25%; border-radius: 6px; background-color: rgba(255,255,255,0.65);" href= <%= artist_path(artist['name'])%>>
        <div>
            <strong style="color: black;"><%= artist['name'] %></strong>
            <br>
            <br>
            <span class="pull-right" style="margin-top: -3%;">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </span>
            <br/>
        </div>
    </a>
    <%end%>
<% end %>

<%if @index == 0 %>
<div class="container message" style="color: gray;">
  <h4>No results found.</h4>
</div>
<br/>
<%end%>

<%@index = 0 %>
<div class="container message" style="color: gray;">
  <h4>Artists inherent to: #<%=@input.to_s%></h4>
  <br/>
</div>
<% @artists.each do |artist| %>
    <% if ArtistsController.get_tags(artist['name']).map{|x| x['name'].downcase}.include?(@input.to_s.downcase) %>
    <% @index = 1 %>
    <a class="list-group-item clearfix" style="border-style: none; margin-bottom: 2%; width: 50%; left: 25%; border-radius: 6px; background-color: rgba(255,255,255,0.65);" href= <%= artist_path(artist['name'])%>>
        <div>
            <strong style="color: black;"><%= artist['name'] %></strong>
            <br>
            <br>
            <span class="pull-right" style="margin-top: -3%;">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </span>
            <br/>
        </div>
    </a>
    <%end%>
<% end %>
<% if @index == 0%>
<div class="container message" style="color: gray;">
  <h4>No results found.</h4>
</div>
<br/>
<% end %>


</div>
