<div class="container message" style="color: gray;">
  <h3>Top Artists</h3>
  <p><%= link_to "view", artist_rank_path(artist_id: 0) %> the first artists on Songify</p>
  <br/>
  <h4><div>
    <%= form_tag artists_star_path, local: true do %>
      <div class="input-group">
        <%= number_field_tag :stars, params[:stars], in: 0..5, class: 'form-control', placeholder: "Search based on ranking", style: "left: 24.5%; width: 48.5%; height: 20%; border-color: black" %>
        <div class="input-group-btn">
            <button class="btn btn-default" style="left: -290px; background-color: rgba(255,255,255,0.65); border: none;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
      </div>
    <% end %>
  <div/></h4>
  <br/>
</div>

<div class="list-group">
    <% @topArtists.each do |artist| %>
        <a class="list-group-item clearfix" style="border-style: none; margin-bottom: 2%; width: 50%; left: 25%; border-radius: 6px; background-color: rgba(255,255,255,0.65);" href= <%= artist_path(artist['name'])%>>
            <div>
                <strong style="color: black;"><%= artist['name'] %></strong>
                <br>
                <br>
                <span style="background-color: darksalmon;" class="badge badge-light">
                  <%= @avg = ArtistsController.get_avg(artist['name']) %> <i class="fa fa-star"></i>
                </span>
                <span class="pull-right" style="margin-top: -3%;">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </span>
            </div>
        </a>
    <% end %>
</div>
