<h3 style="color: gray;"><strong><%= link_to "Contact Us" %></strong></h3>
  <blockquote>
      <p style="color: gray;">Name: <strong>Daniele</strong></p>
      <p style="color: gray;">Surname: <strong>Michelori</strong></p>
      <p style="color: gray;">Code: <strong>1757243</strong></p>
      <p style="color: gray;">Email: <strong>michelori.1757243@studenti.uniroma1.it</strong></p>
  </blockquote>
  <div class="row" style="margin-left: inherit; margin-top: 40px; margin-bottom: 40px">
    <%= image_tag("DanieleMichelori.jpeg", size: "300x300", alt: "No image", style: "border-radius: 6px;") %>
  </div>

  <blockquote>
      <p style="color: gray;">Name: <strong>Nicola Giuseppe</strong></p>
      <p style="color: gray;">Surname: <strong>Ninni</strong></p>
      <p style="color: gray;">Code: <strong>1743545</strong></p>
      <p style="color: gray;">Email: <strong>ninni.1743545@studenti.uniroma1.it</strong></p>
  </blockquote>
  <div class="row" style="margin-left: inherit; margin-top: 40px; margin-bottom: 40px">
    <%= image_tag("NicolaNinni.jpeg", size: "300x300", alt: "No image", style: "border-radius: 6px;") %>
  </div>

  <blockquote>
      <p style="color: gray;">Name: <strong>Valerio</strong></p>
      <p style="color: gray;">Surname: <strong>Silvestro</strong></p>
      <p style="color: gray;">Code: <strong>1693752</strong></p>
      <p style="color: gray;">Email: <strong>silvestro.1693752@studenti.uniroma1.it</strong></p>
  </blockquote>
  <div class="row" style="margin-left: inherit; margin-top: 40px; margin-bottom: 40px">
    <%= image_tag("ValerioSilvestro.jpeg", size: "300x300", alt: "No image", style: "border-radius: 6px;") %>
  </div>

  <blockquote>
      <p style="color: gray;">Name: <strong>Riccardo</strong></p>
      <p style="color: gray;">Surname: <strong>Salvalaggio</strong></p>
      <p style="color: gray;">Code: <strong>1750157</strong></p>
      <p style="color: gray;">Email: <strong>salvalaggio.1750157@studenti.uniroma1.it</strong></p>
  </blockquote>
  <div class="row" style="margin-left: inherit; margin-top: 40px; margin-bottom: 40px">
    <%= image_tag("RiccardoSalvalaggio.png", size: "300x300", alt: "No image", style: "border-radius: 6px;") %>
  </div>
